<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>HONEYCOMB_API_KEY</key>
    <string>your_api_key_here</string>
    <key>SERVICE_NAME</key>
    <string>ios-otel-demo</string>
    <key>SERVICE_VERSION</key>
    <string>1.0.0</string>
    <key>API_ENDPOINT</key>
    <string>https://www.zurelia.honeydemo.io/api</string>
    <key>DEBUG</key>
    <true/>
</dict>
</plist>